[tool.black]
line-length = 88
target-version = ['py310']

[tool.isort]
profile = "black"

[tool.ruff]
line-length = 88

[tool.mypy]
python_version = "3.10"
ignore_missing_imports = true
exclude = [
    "tests/.*",
    "debug_.*\\.py$",
    "jellyseer_sync/.*"
]

[tool.pytest.ini_options]
minversion = "7.0"
addopts = "-q"
testpaths = ["tests"]
